<div class="info-box" data-controller="dropdown-profile-update">
  <div class="edit-profile" data-action="click->dropdown-profile-update#toggle">
    <h3>Edit Profiel</h3>
    <i class="fa-solid fa-chevron-down"></i>
  </div>
  <hr>

  <div class="hidden" data-dropdown-profile-update-target="menu">
    <%= simple_form_for current_user do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :naam, required: true, autofocus: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-outline-success mb-3" %>
      </div>
    <% end %>
  </div>
</div>
