<div class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "home-avatar" do %>
      <%= image_tag "Vliegtuin.png", class: "home-avatar-image"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="active">
          <%= link_to "Home", root_path, class: "my-nav #{'active-nav-link' if current_page?(root_path)}" %>
        </li>
        <li>
          <%= link_to "Over Ons", over_ons_path, class: "my-nav #{'active-nav-link' if current_page?(over_ons_path)}" %>
        </li>
        <li>
          <%= link_to "Evenementen", events_path, class: "my-nav #{'active-nav-link' if current_page?(events_path)}" %>
        </li>
        <li>
          <%= link_to " Makers", profile_pages_path, class: "my-nav #{'active-nav-link' if current_page?(profile_pages_path)}" %>
        </li>
        <li>
          <%= link_to "Nieuws", news_items_path , class: "my-nav #{'active-nav-link' if current_page?(news_items_path)}" %>
        </li>
        <% if user_signed_in? %>
          <div class="navbar-dropdown">
            <span class="my-nav" id="dropdown">Mijn Vliegtuin</span>
            <div class="dropdown-content">
              <ul>
                <% if current_user.profile_page.presence %>
                  <li>
                    <%= link_to "Mijn profiel", profile_page_path(current_user.profile_page), class: "my-nav", id: "dropdown"  %>
                  </li>
                <% end %>
                <li>
                  <%= link_to "Dashboard", dashboard_path, class: "my-nav", id: "dropdown"  %>
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "my-nav", id: "dropdown" %>
                </li>
              </ul>
            </div>
          </div>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, class: "my-nav" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
