<%= turbo_frame_tag "modal", data: { controller: "modals" } do %>
  <div class="modal-overlay" data-action="click->modals#close">
    <div class="modal-box" data-action="click->modals#preventClose">
      <%= simple_form_for [@event] do |f| %>
        <%= f.input :card_image, as: :file, label: "BANNER" %>
        <%= f.input :title, label: "TITEL" %>
        <%= f.input :date, label: "DATUM" %>
        <%= f.input :start_time, label: "BEGINT OM" %>
        <%= f.input :end_time, label: "EINDIGT OM" %>
        <%= f.input :description, label: "BESCHRIJVING", input_html: { rows: 10 } %>
        <%= f.submit "VERSTUUR" %>
      <% end %>
      <%= link_to "Cancel", "#", data: { action: "click->modals#close" }, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

