<section class="index-section">
  <h2 class="stamped-header index-header">Evenementen</h2>
  <div class="my-container" id="events-page-container">
    <% @events.each do |event| %>
      <%= link_to event_path(event) do %>
        <div class="event-page-card">
          <% if event.card_image.present? %>
            <%= cl_image_tag event.card_image.key, class: "event-page-card-image" %>
          <% else %>
            <h1>No Image Yet</h1>
          <% end %>
          <div class="event-info">
            <h3><%= event.title %> <%= event.date.strftime('%Y') %></h3>
            <p><%= event.date.strftime('%-d %B %Y') %> - <%= event.start_time.strftime('%H:%M') %> - <%= event.end_time.strftime('%H:%M') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to new_event_path, class: "new-event-button" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</section>
