<section class="dashboard-section">
  <div class="my-dashboard-container">
    <h2 class="center">Welkom <%= current_user.naam %></h2>
    <hr>
    <div class="my-section">
      <h3 class="dashboard-header">Mijn Pagina</h3>
      <% if current_user.profile_page.presence %>
        <%= link_to profile_page_path(current_user.profile_page) do %>
          <div class="profile-card my-profile-card">
            <% if @my_profile_page.profile_image.presence %>
              <%= cl_image_tag @my_profile_page.profile_image.key, class: "profile-image", alt: "#{@my_profile_page.naam}" %>
            <% end %>
            <div class="profile-info">
              <h3><%= @my_profile_page.naam %></h3>
              <p><%= @my_profile_page.beroep %></p>
            </div>
          </div>
        <% end %>
        <%= link_to "Verwijder Profiel",
                    profile_page_path(current_user.profile_page),
                    data: { turbo_method: :delete, turbo_confirm: "Weet je het zeker? Deze actie kan niet ongedaan worden gemaakt." },
                    class: "dashboard-button" %>
      <% else %>
        <p class="bold">Maak een profiel</p>
        <%= link_to new_profile_page_path, data: { turbo_frame: "modal" } do %>
          <div class="new-card">
            <i class="fa-solid fa-plus"></i>
          </div>
        <% end %>
      <% end %>
    </div>
    <hr>
    <div class="my-section">
      <h3 class="dashboard-header">Mijn Nieuws</h3>
      <% if @my_news.any? %>
        <% @my_news.each do |news| %>
          <%= link_to news_item_path(news) do %>
            <div class="news-item">
              <% if news.news_item_image.presence %>
                <%= cl_image_tag news.news_item_image.key, class: "my-news-image", alt: "#{news.title}" %>
              <% else %>
                <p>Upload-image</p>
              <% end %>
              <div>
                <h3><%= news.title %></h3>
                <p><%= news.created_at.strftime('%-d %B %Y') %></p>
              </div>
            </div>
          <% end %>
          <%= link_to "Verwijder Nieuws-item",
                    news_item_path(news),
                    data: { turbo_method: :delete, turbo_confirm: "Weet je het zeker? Deze actie kan niet ongedaan worden gemaakt." },
                    class: "dashboard-button" %>
        <% end %>
        <%= link_to new_news_item_path, data: { turbo_frame: "modal" } do %>
          <div class="new-news">
            <i class="fa-solid fa-plus"></i>
          </div>
        <% end %>
      <% else %>
        <p class="bold">Deel jou nieuws!</p>
        <%= link_to new_news_item_path, data: { turbo_frame: "modal" } do %>
          <div class="new-card">
            <i class="fa-solid fa-plus"></i>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if current_user.admin? %>
      <hr>
      <div class="my-section">
        <h3 class="dashboard-header">Mijn Evenementen</h3>
        <% if @my_events.any? %>
          <% @my_events.each do |event| %>
            <%= link_to event_path(event) do %>
              <div class="news-item">
                <% if event.card_image.presence %>
                  <%= cl_image_tag event.card_image.key, class: "my-news-image", alt: "#{event.title}" %>
                <% else %>
                  <p>Upload-image</p>
                <% end %>
                <div>
                  <h3><%= event.title %></h3>
                  <p><%= event.date.strftime('%-d %B %Y') %> - <%= event.start_time.strftime('%H:%M') %> - <%= event.end_time.strftime('%H:%M') %></p>
                </div>
              </div>
            <% end %>
            <%= link_to "Verwijder Evenement",
                    event_path(event),
                    data: { turbo_method: :delete, turbo_confirm: "Weet je het zeker? Deze actie kan niet ongedaan worden gemaakt." },
                    class: "dashboard-button" %>
          <% end %>
          <%= link_to new_event_path, data: { turbo_frame: "modal" } do %>
            <div class="new-news">
              <i class="fa-solid fa-plus"></i>
            </div>
          <% end %>
        <% else %>
          <p class="bold">Nieuw Evenement</p>
          <%= link_to new_event_path, data: { turbo_frame: "modal" } do %>
            <div class="new-card">
              <i class="fa-solid fa-plus"></i>
            </div>
          <% end %>
        <% end %>

      </div>
    <% end %>
    <hr>
    <div class="my-section">
      <h3 class="dashboard-header">Mijn Profiel</h3>
      <%= render 'users/edit' %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="my-dashboard-container">
      <h2 class="center">Admin</h2>
      <hr>
      <div class="my-section">
        <h3 class="dashboard-header">Selecteer een nieuwsbericht voor de HomePage</h3>
        <% @news.each do |news| %>
          <div class="user-news-item">
            <p><%= news.title %></p>
            <%= simple_form_for news,
                                    url: toggle_selected_news_item_path(news),
                                    method: :patch,
                                    namespace: "news_toggle_#{news.id}",
                                    html: { data: { controller: "toggle-submit" } } do |f| %>
                  <div>
                    <%= f.check_box :selected, data: { action: "change->toggle-submit#submit" } %>
                    <%= f.label :selecteer %>
                  </div>
                <% end %>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="my-section">
        <h3 class="dashboard-header">Bewerk Over Ons</h3>
        <div class="info-box">
          <%= render 'abouts/edit' %>
        </div>
      </div>
      <hr>
      <div class="my-section">
        <h3 class="dashboard-header">Gebruikersbeheer</h3>
        <div class="user-list">
          <% @users.each do |user| %>
            <div class="user-item">
              <p><%= user.naam %></p>
              <p class="email"><%= user.email %></p>
              <% unless user.super_admin? || user == current_user %>
                <%= simple_form_for user,
                                    url: toggle_admin_user_path(user),
                                    method: :patch,
                                    namespace: "admin_toggle_#{user.id}",
                                    html: { data: { controller: "toggle-submit" } } do |f| %>
                  <div>
                    <%= f.check_box :admin, data: { action: "change->toggle-submit#submit" } %>
                    <%= f.label :admin %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="my-section">
        <h3 class="dashboard-header">Nieuwe gebruikers</h3>
        <p>Nodig hier nieuwe gebruikers uit. Ze ontvangen een email met instructies om een nieuw profiel aan te maken.</p>
        <div class="info-box">
          <%= simple_form_for :user, url: send_user_invitation_path, namespace: "user_invitation" do |f| %>
            <%= f.input :email, required: true, placeholder: "nieuwe.gebruiker@voorbeeld.com" %>
            <%= f.button :submit, "Stuur uitnodiging", class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
