<h1>De Vliegtuin</h1>
<%= link_to "Nieuw evenement", new_event_path %>

<% @events.each do |event| %>
  <%= link_to event_path(event) do %>
    <h2><%= event.title %></h2>
    <p><%= event.date.strftime('%-d %B') %></p>
    <p><%= event.start_time.strftime('%H:%M') %></p>
    <p><%= event.end_time.strftime('%H:%M') %></p>
    <p><%= event.description %></p>
  <% end %>
<% end %>
