<div class="appear">
  <section class="banner-section">
    <%= image_tag "Vliegtuin_logo_2-01.png", alt: "vliegtuin-logo", class: "vliegtuin-logo" %>
  </section>

  <div class="medium-light-background">
    <% if @about %>
      <%= render 'abouts/home_about_section' %>
    <% end %>

    <%# EVENEMENTEN %>
    <% if @events.any? %>
      <section class="events-section">
        <h2 class="stamped-header events-header">Evenementen</h2>
        <div class="my-container events-container">
          <% @events.each do |event| %>
            <%= link_to event_path(event) do %>
              <div class="block event-card">
                <% if event.card_image.present? %>
                  <%= cl_image_tag event.card_image.key, class: "event-card-image" %>
                <% else %>
                  <h1>No Image Yet</h1>
                <% end %>
                <div class="event-details">
                  <h3><%= event.title %> <%= event.date.strftime('%Y') %></h3>
                  <div class="date-time">
                    <p><%= event.date.strftime('%-d %B %Y') %> - <%= event.start_time.strftime('%H:%M') %> - <%= event.end_time.strftime('%H:%M') %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <%= link_to "Alle evenementen...", events_path, class:"page-link" %>
        </div>
      </section>
    <% end %>

    <%# NIEUWS %>
    <% if @news %>
      <%= render 'news_items/home_news_section' %>
    <% end %>
  </div>

  <%# PROFIEL PAGINAS %>
  <% if @profile_pages.any? %>
    <section class="profiles-section">
      <h2 class="stamped-header makers-header">Onze Makers</h2>
      <div class="my-container profiles-container">
        <% @profile_pages.each do |profile| %>
          <%= link_to profile_page_path(profile) do %>
            <div class="block profile-card">
              <%= cl_image_tag profile.profile_image.key, class: "profile-image" %>
              <div class="profile-info">
                <h3><%= profile.naam %></h3>
                <p><%= profile.beroep %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
</div>
