<%= turbo_frame_tag "modal", data: { controller: "modals" } do %>
  <div class="modal-overlay" data-action="click->modals#close">
    <div class="modal-box" data-action="click->modals#preventClose">
      <h2>Nieuw Item</h2>
      <%= simple_form_for [@news_item], html: { data: { turbo_frame: "_top" } } do |f| %>
      <%= f.input :news_item_image, as: :file, label: "FOTO" %>
      <%= f.hidden_field :form_name, value: 'news_item_image' %>
      <%= f.input :title, label: "TITEL" %>
      <%= f.input :slogan, label: "SLOGAN" %>
      <%= f.input :info, label: "INFO", input_html: { rows: 10 } %>
      <%= f.submit "VERSTUUR" %>
    <% end %>
    <%= link_to "Cancel", "#", data: { action: "click->modals#close" }, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
