<div class="container">
  <div class="row">
    <%= simple_form_for [@profile_page] do |f| %>
      <%= f.input :naam, label: "NAAM" %>
      <%= f.input :beroep, label: "BEROEP" %>
      <%= f.input :email, label: "EMAIL" %>
      <%= f.input :info, label: "INFO", input_html: { rows: 10 } %>
      <%= f.submit "VERSTUUR" %>
    <% end %>
  </div>
</div>
