<%= turbo_frame_tag "modal", data: { controller: "modals" } do %>
  <div class="modal-overlay" data-action="click->modals#close">
    <div class="modal-box" data-action="click->modals#preventClose">
      <h2>Nieuw Profiel</h2>
      <%= simple_form_for [@profile_page] do |f| %>
      <%= f.input :profile_image, as: :file, label: "PROFIELFOTO" %>
      <%= f.input :naam, label: "NAAM" %>
      <%= f.input :beroep, label: "BEROEP" %>
      <%= f.submit "VERSTUUR" %>
    <% end %>
    <%= link_to "Cancel", "#", data: { action: "click->modals#close" }, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
