<div class="profile-banner">
  <%= cl_image_tag @profile_page.banner_image.key, class: "banner_image" %>
  <% if user_signed_in? && current_user == @profile_page.user %>
    <%= link_to edit_banner_profile_page_path(@profile_page), data: { turbo_frame: "modal" }, class: "banner-edit" do %>
      <i class="fa-solid fa-pen"></i>
    <% end %>
  <% end %>
</div>
<div class="profile-content">
  <div class="info">
    <div class="d-flex justify-content-between align-items-center">
      <h2><%= @profile_page.naam %></h2>
      <% if user_signed_in? && current_user == @profile_page.user %>
        <%= link_to edit_bio_profile_page_path(@profile_page), data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-pen mx-5"></i>
        <% end %>
      <% end %>
    </div>
    <h4><%= @profile_page.beroep %></h4>
    <p class="mt-5 mr-5"><%= @profile_page.info %></p>
  </div>
  <div class="contact">
    <div class="d-flex justify-content-between align-items-center">
      <h3>Contact</h3>
      <% if user_signed_in? && current_user == @profile_page.user %>
        <%= link_to edit_contact_info_profile_page_path(@profile_page), data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-pen mx-5"></i>
        <% end %>
      <% end %>
    </div>
    <p><%= @profile_page.email %></p>
  </div>
</div>

<div class="images-container">
  <%# IMAGE CAROUSEL HERE %>
</div>

<%= turbo_frame_tag "modal" %>
