<h2><%= @profile_page.naam %></h2>
<p><%= @profile_page.email %></p>
<p><%= @profile_page.info %></p>

<%= link_to profile_page_path(@profile_page),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: "card-button",
                  id: "delete-button" do %>
                    <i class="fa-solid fa-xmark"></i>
                <% end %>
  <%= link_to "Bewerk evenement", edit_profile_page_path(@profile_page), class: "btn btn-primary" %>
