<%= turbo_frame_tag "modal", data: { controller: "modals" } do %>
  <div class="modal-overlay" data-action="click->modals#close">
    <div class="modal-box" data-action="click->modals#preventClose">
      <%= simple_form_for [@about] do |f| %>
        <%= f.input :about_home_image, as: :file, label: "IMAGE" %>
        <%= f.hidden_field :form_name, value: 'about_home_image' %>
        <%= f.submit "VERSTUUR" %>
      <% end %>
      <%= link_to "Cancel", "#", data: { action: "click->modals#close" }, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
